@import url('reset.css');
@import url('root.css');

.detallePublicacion{
  background-color: var(--colorOpacidad);
  margin: 0 auto;
  width: 35em;
  height: 25em;
}
div.detallePublicacion > figure {
  background-color: violet;
  margin: 0 auto;
  width:15em ;
  height: 15em;
}
#contenido{
  padding: 1em;
}
#usuario{
  text-align: start;
  float: left;
}
#aplicacion{
  padding: 1em;
  text-align: end;
}