@import url('reset.css');
@import url('root.css');
/*CLASES*/
.tabla{
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}
.tabla2{
  height: 100vh;
  width: 38%;
  margin: 0 auto;
}
.centrar{
  text-align: center;
  padding: 1em;
}

table > thead{
  background-color: var(--colorCabeceras);
  color:white;
}
table > tbody{
  background-color: Thistle;
}
