@import url('reset.css');
@import url('root.css');

/*colocacion general de los elementos*/
header{
  height: 10em;
  padding-top:1em;
  background-color: var(--colorFondoHastag);
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border: 1px solid red;
}
nav > div > a{
text-decoration: none;
color: white ;
}
/*para colocar los enlaces al login ,perfil cerrar sesion*/
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(33, 97, 140);
  width:14em;
  height: 3em;
}
nav > div > a{
  margin: 10px;
}

nav > div > a:hover{
  font-size: 1.2em;
}

img{
  width:50%;
  height: 50%;
}
