@import url('reset.css');
@import url('root.css');

.listado{
  height: 100vh;
  width: 70%;
  margin: auto;
}
h1{
text-align: center;
}
table > thead{
  background-color: var(--colorCabeceras);
}
table > tbody{
  background-color: Thistle;
}
