:root{
  /*--colorPrincipal:rgb(88, 248, 160);*/
  --colorPrincipal:#3a73bd;
  --colorOpacidad: rgba(29, 87, 161, 0.596);
  --colorHover:#71abf8;
  --colorFondoHastag:#21a6e4a4;
  --colorFondoForm:#c4c4c4;
  --colorFondoLogin:rgba(47, 164, 231, 0.19);
  --colorAgregar:#8CA4FC;
  --colorFondo: #FFF;
}

.error{
  color:red;
  font-weight: bold;
}